body {
  padding-top: 0;
  background: rgba(226, 224, 229, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;
}

.wrapper {
  max-width: 100%;
  width: 390px;
  margin: 0 auto;
  padding: 8px 20px;
}

.status__rounds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
}

.status__text {
  color: #111827;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.status__round {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #A70532;
  margin-left: 20px;
}
.status__round.active {
  background: #A70532;
  position: relative;
}
.status__round.active::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #A70532;
  content: "";
  opacity: 0.2;
  -webkit-transform: scale(2);
          transform: scale(2);
  border-radius: 50%;
}
.status__round.active ~ .test__round {
  background: #E5E7EB;
}

.module__status {
  border-bottom: 1px solid #EAEAEC;
  background: #fff;
}
.module__status .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-modules {
  padding: 14px 50px;
  border-radius: 100px;
  background: #A70532;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.1);
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}
.button-modules:hover {
  background: #8e042b;
}
.button-modules.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.module, .module__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.module__status, .module-buttons {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.module__container, .module__block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.module-buttons .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.module__block {
  position: relative;
  z-index: 1;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}

.module__bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.module__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.module__photo {
  margin-top: 50px;
  width: 262px;
  height: 262px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-bottom: 18px;
}
.module__photo img {
  width: 100%;
  height: 100%;
}

.module__block .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.module__title {
  color: #223341;
  font-family: "Optima";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 113%;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.module__text {
  color: #A70532;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 118%;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.result__text {
  color: #223341;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 20px;
}
.result__text b {
  color: #A70532;
}

.result__title {
  color: #A70532;
  text-align: center;
  font-family: "Optima";
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 99%;
  padding-top: 35px;
  margin-bottom: 20px;
}

.result__img {
  margin-top: -42%;
  z-index: -1;
  position: relative;
}
.result__img img {
  width: 100%;
}

.result__img-text {
  position: absolute;
  left: 0;
  bottom: 100px;
  width: 100%;
  background: rgba(184, 128, 132, 0.5);
  -webkit-backdrop-filter: blur(3.5px);
          backdrop-filter: blur(3.5px);
  padding: 11px 30px;
  text-align: center;
  color: #A70532;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  text-transform: uppercase;
}
.result__img-text span {
  color: #fff;
  display: block;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.result__footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-bottom: 10px;
}