.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal__title {
  color: #223341;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 13px;
  text-align: center;
}
.modal__input, .modal select, .modal .nice-select {
  margin-bottom: 13px;
}
.modal__bg {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.modal__container {
  margin: auto;
  padding: 32px;
  border-radius: 8px;
  background: #FFF;
  -webkit-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.modal .input {
  background: #F9FAFB;
  border: 1px solid #D1D5DB;
}
.modal .select, .modal .nice-select, .modal .nice-select.open, .modal .nice-select:focus {
  background: #F9FAFB;
  border: 1px solid #D1D5DB;
  width: 100%;
  color: #6B7280;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  height: 50px;
  border-radius: 6px;
  padding: 0 17px;
  margin-bottom: 13px;
}
.modal .select::after, .modal .nice-select::after, .modal .nice-select.open::after, .modal .nice-select:focus::after {
  border-color: #6B7280;
}
.modal select.select {
  border: none;
}
.modal .nice-select .nice-select-dropdown {
  width: 100%;
}
.modal .nice-select .list {
  padding: 0;
  margin: 0;
}
.modal .nice-select .option {
  padding: 8px 16px;
  color: #374151;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.modal .nice-select .option.focus, .modal .nice-select .option.selected.focus, .modal .nice-select .option.selected {
  font-weight: normal;
}
.modal__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}
.modal .checkbox__text {
  color: #111827;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.modal .checkbox__text a {
  color: #F7921E;
  text-decoration: none;
}
.modal .button {
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal.modal-lc .modal__container {
  width: 768px;
}
.modal.modal-reg .modal__container {
  max-width: 640px;
}
.modal.modal-politic .modal__container {
  max-width: 1030px;
  padding: 30px 50px;
}
.modal.modal-politic .modal__container .modal__title {
  color: #F7921E;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  width: 667px;
  margin: 0 auto;
  margin-bottom: 17px;
}
.modal__content {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  overflow-y: auto;
  padding-right: 20px;
}
.modal__content p {
  margin-bottom: 15px;
}
.modal__content h1, .modal__content h2, .modal__content h3 {
  color: #333;
  font-size: 22px;
  font-style: normal;
  font-weight: 550;
  line-height: 140%;
  margin-bottom: 8px;
}
.modal__content::-webkit-scrollbar {
  width: 15px;
}
.modal__content::-webkit-scrollbar-track {
  background: #EFEFEF;
}
.modal__content::-webkit-scrollbar-thumb {
  background: #F7921E;
}
.modal__form {
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal__form::-webkit-scrollbar {
  width: 5px;
}
.modal__form::-webkit-scrollbar-track {
  background: #EFEFEF;
}
.modal__form::-webkit-scrollbar-thumb {
  background: #F7921E;
}

.modal__button {
  padding: 14px 24px;
  border-radius: 100px;
  background: #A70532;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.1);
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal__button:hover {
  background: #8e042b;
}

.modal-lc .modal__title {
  color: #223341;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 24px;
}
.modal-lc .modal__text {
  color: #223341;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 24px;
}
.modal-lc .modal__qr {
  margin-bottom: 24px;
}
.modal-lc .modal__qr img {
  max-width: 100%;
}
.modal-lc .modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}
.modal-lc .modal__button {
  text-align: center;
  width: 390px;
  max-width: 100%;
}

@media only screen and (max-width: 860px) {
  .modal.modal-politic .modal__container .modal__title {
    width: 100%;
  }
  .modal.modal-politic .modal__container .modal__title {
    font-size: 16px;
  }
  .modal__content {
    font-size: 14px;
  }
  .modal.modal-politic .modal__container, .modal__container {
    padding: 45px 16px;
  }
  .modal__form {
    padding-right: 0;
  }
  .modal__content::-webkit-scrollbar {
    width: 9px;
  }
  .modal {
    padding: 15px;
  }
  .modal-lc .modal__title {
    font-size: 36px;
    padding: 0 10px;
  }
  .modal-lc .modal__text {
    font-size: 16px;
    padding: 0 10px;
  }
  .modal-lc .modal__qr {
    margin-bottom: 24px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 600px) {
  .modal-lc .modal__button {
    width: calc(100% - 30px);
  }
}
.welcom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.welcom.welcom-blocks {
  height: auto;
}
@media only screen and (min-width: 992px) {
  .welcom {
    max-height: 100%;
    height: 830px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    overflow-y: auto;
  }
}
.welcom__item {
  opacity: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.welcom__item.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.welcom__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.welcom__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.welcom__controller {
  background: rgba(184, 128, 132, 0.2);
  -webkit-backdrop-filter: blur(3.3535108566px);
          backdrop-filter: blur(3.3535108566px);
  width: 100%;
  margin-top: auto;
  padding: 40px 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.welcom__controller .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.welcom__tabs {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}
.welcom__tabs span {
  width: 14px;
  height: 14px;
  background: #223341;
  opacity: 0.2;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
.welcom__tabs span.active {
  opacity: 1;
}
.welcom__button {
  padding: 22px 70px;
  color: #FFF;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 154px;
  background: #B88084;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.welcom__button:hover {
  background: #af7074;
}
.welcom__button.green {
  background: #94BEA7;
}
.welcom__button.green:hover {
  background: #84b49a;
}
.welcom__button.blue {
  background: #89BBE5;
}
.welcom__button.blue:hover {
  background: #74afe0;
}
.welcom__bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.welcom__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.welcom__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.welcom__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.welcom__title {
  color: #223341;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 113%; /* 47.46px */
  text-transform: uppercase;
  font-family: "Optima";
  width: 420px;
}
.welcom__icon {
  margin-right: 23px;
}
.welcom__text {
  color: #223341;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  width: 420px;
}

.header {
  height: 65px;
  background: #FFF;
  -webkit-box-shadow: 0px 4.89655px 12.24138px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4.89655px 12.24138px 0px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header .logo {
  width: 59px;
}
.header .logo img {
  width: 100%;
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  width: 1314px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcom__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.learnblock__info {
  position: relative;
}
@media only screen and (max-width: 800px) {
  .learnblock__info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.learnblock__tag {
  color: #A70532;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 5px;
  border-radius: 100px;
  border: 1px solid #A70532;
  width: 140px;
  position: absolute;
  right: -12px;
  top: -6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
}
@media only screen and (max-width: 800px) {
  .learnblock__tag {
    height: 21px;
    font-size: 10.775px;
    width: 100px;
    top: 1px;
  }
  .learnblock__tag svg {
    max-width: 14px;
    max-height: 14px;
  }
}
.learnblock__tag svg {
  margin-right: 5px;
  display: block;
}

.learn__button {
  padding: 20px;
  color: #FFF;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border-radius: 136px;
  background: #A70532;
  width: 370px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.learn__button:hover {
  background: #8e042b;
}

.welcom__controller .wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.welcom__main .logo {
  width: 300px;
}
.welcom__main .logo img {
  width: 100%;
}

.start__title {
  margin-bottom: 12px;
  color: #A70532;
  font-family: "Optima";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 113%; /* 47.46px */
  text-transform: uppercase;
  width: 615px;
}

.start__text {
  color: #223341;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.welcom__main .wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.welcom__container {
  position: relative;
  z-index: 1;
}

.start__bg {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.start__bg img {
  height: 100%;
  display: block;
}

.welcom__container .wrapper {
  width: 1040px;
  max-width: 100%;
}

.learn__button-trs {
  padding: 14px 20px;
  color: #A70532;
  text-align: center;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  border-radius: 136.975px;
  background: #FFF;
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.learn__button-trs:hover {
  background: #f2f2f2;
}

.welcom__controller .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.welcom__controller .wrapper > * {
  width: 100%;
}
.welcom__controller .wrapper > *:not(:last-child) {
  margin-bottom: 15px;
}

.welcom__controller {
  background: #fff;
}

.welcom__main {
  background: #fff;
  background: #FFF;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.1);
}

.header {
  z-index: 22;
}

.welcom__main .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.learnblock__name {
  color: #223341;
  font-family: "Optima";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 113%;
  margin-bottom: 25px;
  width: 100%;
}
@media only screen and (max-width: 1050px) {
  .learnblock__name {
    text-align: center;
  }
}

.learnblock__moduls {
  border-radius: 8.825px;
  width: 1000px;
  height: 400px;
  overflow: hidden;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 1050px) {
  .learnblock__moduls {
    width: 500px;
    height: auto;
  }
}

.learnblock__icon {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: #A70532;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 23px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #A70532;
  font-size: 20.592px;
  font-style: normal;
  font-weight: 500;
  line-height: 23.533px;
}

.learnblock__title {
  color: #223341;
  font-size: 17.65px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.533px; /* 133.333% */
  letter-spacing: 0.441px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.learnblock__text {
  color: #6b7280;
  font-size: 17.65px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.learnblock__modul {
  padding: 22px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 5px solid transparent;
  border-radius: 8.825px;
  border: 1.471px solid #D1D5DB;
  background: #FFF;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  height: 120px;
  width: calc(50% - 11px);
  overflow: hidden;
}
@media only screen and (max-width: 1050px) {
  .learnblock__modul {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .learnblock__modul {
    height: auto;
  }
}
.learnblock__modul.current .learnblock__icon, .learnblock__modul.default .learnblock__icon {
  border: 3px solid #A70532;
  background: #fff;
}
.learnblock__modul.current .learnblock__title, .learnblock__modul.default .learnblock__title {
  color: #A70532;
}
.learnblock__modul.passed .learnblock__tag {
  background: #A70532;
  color: #fff;
}
.learnblock__modul.current {
  position: relative;
}
.learnblock__modul.current::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  content: "";
  background: #A70532;
}
.learnblock__modul.next .learnblock__icon {
  border: 3px solid #D1D5DB;
  background: #fff;
  color: #6B7280;
}
.learnblock__modul.next .learnblock__title {
  color: #6B7280;
}
.learnblock__modul.next .learnblock__tag {
  background: #EAEAEC;
  color: #8F95A1;
  border-color: #EAEAEC;
}
.learnblock__modul:not(:last-child) {
  border-bottom: 1px solid #D1D5DB;
}

.welcom__main .wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .welcom__controller .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .learn__button, .learn__button-trs {
    font-size: 16px;
    height: 52px;
    padding: 2px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .learn__button:not(:last-child), .learn__button-trs:not(:last-child) {
    margin-bottom: 15px;
  }
  .welcom__controller .wrapper > * {
    width: 100%;
  }
  .learnblock__name {
    font-size: 20px;
  }
  .learnblock__modul {
    padding: 15px 20px;
  }
  .learnblock__title, .learnblock__text {
    font-size: 12px;
  }
  .learnblock__icon {
    width: 40px;
    height: 40px;
    font-size: 14px;
    margin-right: 16px;
  }
  .learnblock__icon svg {
    max-width: 50%;
    max-height: 50%;
  }
  .learnblock__modul.current .learnblock__icon, .learnblock__modul.next .learnblock__icon {
    border-width: 2px;
  }
}
.calendar {
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #FFF;
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
  font-family: sans-serif;
}
.calendar .days-of-week {
  color: #6B7280;
  text-transform: uppercase;
}
.calendar .datepicker-cell.prev:not(.disabled), .calendar .datepicker-cell.next:not(.disabled) {
  color: #EAEAEC;
  pointer-events: none;
}
.calendar .datepicker-controls .button {
  text-transform: capitalize;
}
.calendar .datepicker span {
  font-size: 12px;
}
.calendar .datepicker-header .datepicker-controls .button.next-btn {
  color: transparent;
  background-image: url("../img/content/arrow-right.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
.calendar .datepicker-header .datepicker-controls .button.prev-btn {
  color: transparent;
  background-image: url("../img/content/arrow-right.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.calendar .datepicker-cell.focused:not(.selected) {
  background: transparent;
}
.calendar .datepicker-cell[data-date]:not(.day-has-event) {
  pointer-events: none;
}
.calendar .day-has-event {
  position: relative;
  background: #EAEAEC;
  color: #A70532;
  font-weight: 600;
  pointer-events: auto;
  border-radius: 9px;
}
.calendar .day-has-event:hover:not(.disabled) {
  background: #EAEAEC;
  color: #A70532;
}
.calendar .day-has-event:hover .calendar-popup {
  opacity: 1;
  pointer-events: auto;
}
.calendar .day-has-event.selected:not(.disabled) {
  background: #A70532;
  color: #fff;
}
.calendar .day-buy {
  background: #A70532;
  color: #fff;
  pointer-events: none;
  font-weight: 600;
  border-radius: 9px;
}
.calendar .calendar-popup {
  position: absolute;
  padding: 10px;
  border-radius: 4px;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  width: 225px;
  left: calc(100% + 4px);
  top: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
}
@media only screen and (max-width: 575px) {
  .calendar .calendar-popup {
    top: calc(100% + 4px);
    left: 0;
  }
  .calendar .calendar-popup::before {
    display: none;
  }
}
.calendar .calendar-popup::before {
  position: absolute;
  right: 100%;
  top: 9px;
  border: 7px solid transparent;
  border-right: 7px solid #fff;
  content: "";
}
.calendar .calendar-popup-title {
  color: #223341;
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  display: inline-block;
  margin-bottom: 6px;
}
.calendar .calendar-popup-place, .calendar .calendar-popup-time {
  color: #6B7280;
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  text-align: left;
}
.calendar .calendar-popup-place b, .calendar .calendar-popup-time b {
  font-weight: 600;
}

@media only screen and (max-width: 575px) {
  .datepicker-cell.day-has-event.Thu .calendar-popup {
    left: -100px;
  }
  .datepicker-cell.day-has-event.Fri .calendar-popup {
    left: -100px;
  }
  .datepicker-cell.day-has-event.Sat .calendar-popup {
    left: auto;
    right: 0;
  }
  .datepicker-cell.day-has-event.Sun .calendar-popup {
    left: auto;
    right: 0;
  }
}
.calendar-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.calendar-block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.calendar-block .learnblock__name {
  text-align: left;
}

.back-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  color: #98999E;
  font-size: 14.894px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.back-link svg {
  margin-right: 12px;
}

.calendar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(107, 114, 128, 0.5);
  margin-bottom: 30px;
}

.calendar-link {
  padding-bottom: 16px;
  margin-bottom: -1px;
  color: #6B7280;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.calendar-link:not(:last-child) {
  margin-right: 32px;
}
.calendar-link.active {
  border-bottom: 2px solid #A70532;
  color: #A70532;
  pointer-events: none;
}

.button-send {
  padding: 14px 24px;
  border-radius: 100px;
  background: #A70532;
  -webkit-box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.1);
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button-send:hover {
  background: #8e042b;
}

.calendar-myevents {
  padding-bottom: 20px;
}

.calendar-myevent {
  font-size: 16px;
  padding: 12px;
  background: #F3F4F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  margin-bottom: 20px;
  color: #A70532;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
@media only screen and (max-width: 575px) {
  .calendar-myevent {
    font-size: 12.313px;
  }
}
.calendar-myevent svg {
  margin-right: 6px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.calendar-input {
  height: 1px;
  opacity: 0.01;
  margin-bottom: 30px;
}

.review-block-text {
  color: #111928;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 12px;
  max-width: 500px;
}

.review-block {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.review-block .learnblock__name {
  text-align: left;
}

.review-block-instruction {
  color: #6B7280;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 30px;
}

.review-block-textarea textarea {
  padding: 13px 20px;
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #F9FAFB;
  width: 500px;
  max-width: 100%;
  resize: none;
  height: 100px;
  color: #223341;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.button-send {
  width: 300px;
}