.footer__text {
  color: #223341;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer__link {
  color: #A70532;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 25.883px */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: capitalize;
}
.footer__link:not(:last-child) {
  margin-bottom: 5px;
}

.tel__text {
  color: #A70532;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.tel__link {
  color: #A70532;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
}

.button-round {
  padding: 13px 19px;
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  border-radius: 136px;
  background: #A70532;
  width: 356px;
  text-align: center;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  cursor: pointer;
}
.button-round:hover {
  background: #8e042b;
}

.button-round-border {
  margin-bottom: 0;
  color: #223341;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 127%;
  text-transform: uppercase;
  border: 2px solid #223341;
  background: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  display: block;
}
.button-round-border:hover {
  background: #223341;
  color: #fff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  width: 1314px;
  max-width: 100%;
}

body {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  margin-top: auto;
}

.main {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 144px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.main__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__title {
  color: #223341;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 13px;
  text-transform: uppercase;
  font-family: "Optima";
}
.main__text {
  color: #223341;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.main.signin {
  padding-top: 46px;
}

.header {
  margin-bottom: 30px;
}

.signin__form {
  height: 310px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.signin__form > * {
  width: calc(50% - 24px);
  margin-bottom: 8px;
}
.signin__container {
  margin: 0 auto;
  width: 864px;
}
.signin__container.login {
  width: 407px;
}
.signin__container.login .signin__form {
  height: auto;
  padding-bottom: 0;
}
.signin__container.login .button-round {
  margin-top: 40px;
  width: 100%;
}
.signin__container.login .input__link {
  color: #223341;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-top: 18px;
  display: inline-block;
}
.signin__container.login .signin__form > * {
  width: 100%;
}
.signin__container.login .modal__input {
  margin-bottom: 20px;
}
.signin__container.login .title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.signin .modal__input {
  margin-bottom: 8px;
}
.signin .select, .signin .nice-select, .signin .nice-select.open, .signin .nice-select:focus {
  background: #FFFFFF;
  border: 1px solid #D1D5DB;
  width: 100%;
  color: #6B7280;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  height: 50px;
  border-radius: 6px;
  padding: 0 17px;
  margin-bottom: 0;
}
.signin .select::after, .signin .nice-select::after, .signin .nice-select.open::after, .signin .nice-select:focus::after {
  border-color: #6B7280;
}
.signin select.select {
  border: none;
}
.signin .nice-select .nice-select-dropdown {
  width: 100%;
}
.signin .nice-select .list {
  padding: 0;
  margin: 0;
}
.signin .nice-select .option {
  padding: 8px 16px;
  color: #374151;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.signin .nice-select .option.focus, .signin .nice-select .option.selected.focus, .signin .nice-select .option.selected {
  font-weight: normal;
}
.signin .modal__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.signin .modal__checkbox a {
  color: #A70532;
}
.signin .checkbox__text {
  color: #111827;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.signin .button-round {
  margin-top: 40px;
  font-size: 16px;
  line-height: 150%;
  padding: 14px;
  width: 327px;
}

.radio__group {
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
.radio input {
  display: none;
}
.radio__icon {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #FFF;
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.radio__icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #A70532;
  border-radius: 8px;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.radio__text {
  color: #6B7280;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.radio input:checked + .radio__icon {
  border-color: #A70532;
}
.radio input:checked + .radio__icon::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.signin__modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.signin__modal.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.signin__modal-container {
  width: 466px;
  background: #fff;
  border-radius: 10px;
  margin: auto;
}
.signin__modal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  border-bottom: 1px solid rgba(60, 60, 67, 0.36);
}
.signin__modal-text, .signin__modal-title {
  width: 238px;
  text-align: center;
}
.signin__modal-title {
  color: #000;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 6px;
}
.signin__modal-text {
  color: #000;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.signin__modal-button {
  padding: 11px;
  text-align: center;
  color: #007AFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  cursor: pointer;
}

.title {
  margin-bottom: 15px;
}

.input__title {
  margin-bottom: 8px;
  color: #223341;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.input__title a {
  color: #223341;
  font-weight: bold;
}

.main.support .signin__container.login .modal__input {
  margin-bottom: 10px;
}
.main.support .input__title {
  margin-bottom: 30px;
}
.main.support .signin__container.login .button-round {
  margin-top: 0;
}
.main.support .title {
  margin-bottom: 30px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal__title {
  color: #223341;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 13px;
  text-align: center;
}
.modal__input, .modal select, .modal .nice-select {
  margin-bottom: 13px;
}
.modal__bg {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.modal__container {
  margin: auto;
  padding: 32px;
  border-radius: 8px;
  background: #FFF;
  -webkit-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.05), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.modal .input {
  background: #F9FAFB;
  border: 1px solid #D1D5DB;
}
.modal .select, .modal .nice-select, .modal .nice-select.open, .modal .nice-select:focus {
  background: #F9FAFB;
  border: 1px solid #D1D5DB;
  width: 100%;
  color: #6B7280;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  height: 50px;
  border-radius: 6px;
  padding: 0 17px;
  margin-bottom: 13px;
}
.modal .select::after, .modal .nice-select::after, .modal .nice-select.open::after, .modal .nice-select:focus::after {
  border-color: #6B7280;
}
.modal select.select {
  border: none;
}
.modal .nice-select .nice-select-dropdown {
  width: 100%;
}
.modal .nice-select .list {
  padding: 0;
  margin: 0;
}
.modal .nice-select .option {
  padding: 8px 16px;
  color: #374151;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.modal .nice-select .option.focus, .modal .nice-select .option.selected.focus, .modal .nice-select .option.selected {
  font-weight: normal;
}
.modal__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 13px;
}
.modal .checkbox__text {
  color: #111827;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.modal .checkbox__text a {
  color: #F7921E;
  text-decoration: none;
}
.modal .button {
  text-align: center;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal.modal-lc .modal__container {
  width: 768px;
}
.modal.modal-reg .modal__container {
  max-width: 640px;
}
.modal.modal-politic .modal__container {
  max-width: 1030px;
  padding: 30px 50px;
}
.modal.modal-politic .modal__container .modal__title {
  color: #A70532;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  width: 667px;
  margin: 0 auto;
  margin-bottom: 17px;
}
.modal__content {
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  overflow-y: auto;
  padding-right: 20px;
}
.modal__content p {
  margin-bottom: 15px;
}
.modal__content h1, .modal__content h2, .modal__content h3 {
  color: #333;
  font-size: 22px;
  font-style: normal;
  font-weight: 550;
  line-height: 140%;
  margin-bottom: 8px;
}
.modal__content::-webkit-scrollbar {
  width: 15px;
}
.modal__content::-webkit-scrollbar-track {
  background: #EFEFEF;
}
.modal__content::-webkit-scrollbar-thumb {
  background: #A70532;
}
.modal__form {
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal__form::-webkit-scrollbar {
  width: 5px;
}
.modal__form::-webkit-scrollbar-track {
  background: #EFEFEF;
}
.modal__form::-webkit-scrollbar-thumb {
  background: #A70532;
}

.modal__button {
  padding: 14px 24px;
  border-radius: 100px;
  background: #A70532;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-transform: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.modal__button:hover {
  background: #8e042b;
}

.modal-lc .modal__title {
  color: #223341;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 24px;
}
.modal-lc .modal__text {
  color: #223341;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 24px;
}
.modal-lc .modal__qr {
  margin-bottom: 24px;
}
.modal-lc .modal__qr img {
  max-width: 100%;
}
.modal-lc .modal__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
}
.modal-lc .modal__button {
  text-align: center;
  width: 390px;
  max-width: 100%;
}

@media only screen and (max-width: 860px) {
  .modal-lc .modal__container {
    padding: 40px 0;
  }
  .modal.modal-politic .modal__container .modal__title {
    width: 100%;
  }
  .modal.modal-politic .modal__container .modal__title {
    font-size: 16px;
  }
  .modal__content {
    font-size: 14px;
  }
  .modal.modal-politic .modal__container, .modal__container {
    padding: 45px 16px;
  }
  .modal__form {
    padding-right: 0;
  }
  .modal__content::-webkit-scrollbar {
    width: 9px;
  }
  .modal {
    padding: 15px;
  }
  .modal-lc .modal__title {
    font-size: 26px;
    line-height: 30px;
    padding: 0 10px;
    margin-bottom: 16px;
  }
  .modal-lc .modal__text {
    font-size: 16px;
    padding: 0 10px;
    margin-bottom: 16px;
  }
  .modal-lc .modal__qr {
    margin-bottom: 24px;
    padding: 0 10px;
    margin-bottom: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .modal-lc .modal__button {
    width: calc(100% - 30px);
  }
}
@media only screen and (max-width: 1359px) {
  .header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .signin__form > * {
    width: 408px;
    max-width: 100%;
  }
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .signin__form {
    height: auto;
  }
  .title {
    text-align: center;
  }
  .signin__form {
    -ms-flex-line-pack: center;
        align-content: center;
  }
  input.tel {
    margin-bottom: 0;
  }
  .signin__container {
    max-width: 100%;
  }
  .signin .modal__checkbox {
    width: 408px;
    margin: 0 auto 13px auto;
    max-width: 100%;
  }
  .signin .button-round {
    margin: 40px auto 20px auto;
    width: 408px;
    max-width: 100%;
  }
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer .tel {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .tel__text {
    font-size: 12px;
  }
  .tel__link {
    font-size: 16px;
  }
  .tel {
    margin-bottom: 19px;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 352px;
    max-width: 100%;
    margin-bottom: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__link:not(:last-child) {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .footer__link {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .footer__text {
    font-size: 8px;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .header .logo {
    width: 165px;
  }
  .main__info {
    margin-bottom: 85px;
  }
  .main__title {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  .main__text {
    font-size: 20px;
    text-align: center;
  }
  .button-round, .button-round-border {
    font-size: 16px;
    padding: 14px;
  }
}
@media only screen and (max-width: 720px) {
  .main {
    padding: 50px 20px 20px 20px;
  }
  .input, .radio__text, .signin .select, .signin .nice-select, .signin .nice-select.open, .signin .nice-select:focus {
    font-size: 14px;
  }
  .title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 500px) {
  .button-round, .main__buttons {
    width: 100%;
  }
  .footer__link {
    font-size: 12px;
  }
}