.welcom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.welcom__item {
  opacity: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.welcom__item.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.welcom__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.welcom__main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.welcom__controller {
  background: rgba(184, 128, 132, 0.2);
  -webkit-backdrop-filter: blur(3.3535108566px);
          backdrop-filter: blur(3.3535108566px);
  width: 100%;
  margin-top: auto;
  padding: 40px 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.welcom__controller .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.welcom__tabs {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
}
.welcom__tabs span {
  width: 14px;
  height: 14px;
  background: #223341;
  opacity: 0.2;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
.welcom__tabs span.active {
  opacity: 1;
}
.welcom__button {
  padding: 22px 70px;
  color: #FFF;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 154px;
  background: #B88084;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.welcom__button:hover {
  background: #af7074;
}
.welcom__button.green {
  background: #94BEA7;
}
.welcom__button.green:hover {
  background: #84b49a;
}
.welcom__button.blue {
  background: #89BBE5;
}
.welcom__button.blue:hover {
  background: #74afe0;
}
.welcom__bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.welcom__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.welcom__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.welcom__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.welcom__title {
  color: #223341;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 113%; /* 47.46px */
  text-transform: uppercase;
  font-family: "Optima";
  width: 420px;
}
.welcom__icon {
  margin-right: 23px;
}
.welcom__text {
  color: #223341;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  width: 420px;
}

.header {
  height: 65px;
  background: #FFF;
  -webkit-box-shadow: 0px 4.89655px 12.24138px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4.89655px 12.24138px 0px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header .logo {
  width: 59px;
}
.header .logo img {
  width: 100%;
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  width: 1314px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.welcom__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.learn__button {
  padding: 20px;
  color: #FFF;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border-radius: 136px;
  background: #A70532;
  width: 370px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.learn__button:hover {
  background: #8e042b;
}

.welcom__controller .wrapper {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.welcom__main .logo {
  width: 300px;
}
.welcom__main .logo img {
  width: 100%;
}

.start__title {
  margin-bottom: 12px;
  color: #A70532;
  font-family: "Optima";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 113%; /* 47.46px */
  text-transform: uppercase;
  width: 615px;
}

.start__text {
  color: #223341;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.welcom__main .wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.welcom__container {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20.88%, #E3E2E6), color-stop(60.74%, #F0EEF1));
  background: -webkit-linear-gradient(top, #E3E2E6 20.88%, #F0EEF1 60.74%);
  background: linear-gradient(180deg, #E3E2E6 20.88%, #F0EEF1 60.74%);
  position: relative;
  z-index: 1;
}

.start__bg {
  position: absolute;
  right: -80px;
  top: 0;
  bottom: 0;
  z-index: -1;
}
@media only screen and (max-width: 900px) {
  .start__bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
@media only screen and (min-width: 1314px) {
  .start__bg {
    right: calc((100vw - 1314px - 160px) / 2);
  }
}
.start__bg img {
  height: 100%;
  display: block;
}
@media only screen and (max-width: 900px) {
  .start__bg img {
    height: calc(100% - 200px);
  }
}

@media only screen and (max-width: 1100px) {
  .welcom__main .logo {
    display: none;
  }
  .welcom__main .wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 20px;
  }
  .welcom__controller {
    background: transparent;
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
  .welcom__controller .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .start__title, .start__text {
    text-align: center;
    max-width: 100%;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .start__title {
    font-size: 23px;
  }
  .start__text {
    font-size: 20px;
  }
  .start__bg img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .learn__button {
    font-size: 16px;
    padding: 14px;
  }
}