.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}

.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}

:root {
  --main-odometr-duration: 2s;
}

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform var(--main-odometr-duration);
  transition: -webkit-transform var(--main-odometr-duration);
  transition: transform var(--main-odometr-duration);
  transition: transform var(--main-odometr-duration), -webkit-transform var(--main-odometr-duration);
}

.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform var(--main-odometr-duration);
  transition: -webkit-transform var(--main-odometr-duration);
  transition: transform var(--main-odometr-duration);
  transition: transform var(--main-odometr-duration), -webkit-transform var(--main-odometr-duration);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.1em;
}

.odometer.odometer-auto-theme .odometer-value, .odometer.odometer-theme-default .odometer-value {
  text-align: center;
}

.winner {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.winner__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.winner__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.winner__logo {
  position: absolute;
  left: 5.03vw;
  top: 2.061vw;
  width: 35.636vw;
}
.winner__logo img {
  max-width: 100%;
}
.winner__stream {
  position: absolute;
  left: 5.03vw;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36.848vw;
}
.winner__stream > * {
  max-width: 100%;
  max-height: 100%;
}
.winner__slides {
  position: absolute;
  bottom: 3.636vw;
  right: 7.879vw;
}
.winner__slide {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40.606vw;
  height: 40.606vw;
  border-radius: 1.152vw;
  border: 0.424vw solid #FFF;
  background: #F9961F;
  -webkit-box-shadow: 0px 0.606vw 1.939vw 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0.606vw 1.939vw 0px rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.winner__slide-odometr {
  background: #FFC454;
}
.winner__slide.active {
  opacity: 1;
}
.winner__slide.active .animate {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.winner__text {
  position: absolute;
  top: calc(100% + 1.091vw);
  right: -0.8vw;
  color: #1F1A1B;
  text-align: center;
  font-size: 1.355vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.697vw;
  text-transform: uppercase;
  text-wrap: nowrap;
}
.winner__img {
  position: absolute;
  left: -0.424vw;
  top: -0.424vw;
  width: calc(100% + 0.848vw);
  height: calc(100% + 0.848vw);
}
.winner__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.winner__img img:first-child {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.winner__img img.animate {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.winner__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8.485vw;
}
.winner__name {
  width: 12.242vw;
  height: 4.424vw;
  border-radius: 0.242vw;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "HeliosCond";
  color: #000;
  font-size: 2.545vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.winner__odometr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.winner .odometer-digit {
  width: 2.788vw;
  height: 4.424vw;
  line-height: 4.424vw;
  border-radius: 0.23vw;
  background: #fff;
  margin-right: 0.727vw;
  text-align: center;
  overflow: hidden;
  color: #000;
  font-family: "HeliosCond";
  font-size: 2.485vw;
  font-style: normal;
  font-weight: 700;
  display: block;
}
.winner .odometer-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.winner .odometer-value {
  width: 100%;
}
.winner__list {
  padding: 0 2.727vw 1.515vw 2.727vw;
}
.winner__list-title {
  color: #000;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.576vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.061vw;
  margin-bottom: 1.455vw;
}
.winner__list-item {
  margin-bottom: 0.121vw;
  color: #000;
  font-family: sans-serif;
  font-size: 0.909vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.212vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  padding-top: 0;
}